{% extends "base.html" %}
{% block content %}
  <div class="col-sm-3">
	&nbsp;
  </div>
  <div class="col-sm-6">
	<div class="panel panel-warning">
	  <div class="panel-heading">
		<b>修改密码</b>
	  </div>
	  <div class="panel-body">
	    <form action="" method="post">{% csrf_token %}
	      <div class="input-group">
			<span class="input-group-addon">旧密码</span>
			<input id="id_old_password" maxlength="254" name="old_password" type="password" class="form-control"/>
		  </div>
		  <br />
	      <div class="input-group">
			<span class="input-group-addon">新密码</span>
			<input id="id_new_password1" maxlength="254" name="new_password1" type="password" class="form-control"/>
		  </div>
		  <br />
	      <div class="input-group">
			<span class="input-group-addon">再次输入新密码</span>
			<input id="id_new_password2" maxlength="254" name="new_password2" type="password" class="form-control"/>
		  </div>
		  <br />
		  <button class="btn btn-success" type="submit" value="提交">修改完成</button>
	    </form>
	  </div>
	</div>
  </div>
{% endblock%}
