{% extends "base.html" %}
{% block content %}
  <div class="col-sm-12">
	  {% if form.errors %}
	    <div class="alert alert-danger">{{ form.errors }}</div>
	  {% endif %}
  </div>
  <div class="col-sm-3">
	&nbsp;
  </div>
  <div class="col-sm-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<b>重置密码</b>
	  </div>
	  <div class="panel-body">
		{% if validlink %}
	    <form action="" method="post">{% csrf_token %}
		  <div class="input-group">
			<span class="input-group-addon">新密码</span>
		    <input id="id_new_password1" name="new_password1" type="password" class="form-control"/>
		  </div>
		  <br />
		  <div class="input-group">
			  <span class="input-group-addon">再次输入</span>
		    <input id="id_new_password2" name="new_password2" type="password" class="form-control"/>
		  </div>
		  <br />
		  <button class="btn btn-success" type="submit" value="提交">提交</button>
	    </form>
		{% else %}
		  链接无效
		{% endif%}
	  </div>
	</div>
  </div>
{% endblock %}
