<!doctype html>
<html>
  <head>
	<meta charset="utf-8">
	  <title>Python部落论坛</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="jumbotron">
			<h1><center>Python部落论坛</center></h1>
			<span class="pull-right"><a href={% url "logout_then_login" %}>注册/登陆</a></span>
		  </div>
	      {% for b in blocks %}
	      <div class="blockitem">
            <div class="panel panel-default">
		      <div class="panel-heading">
                  <a href={% url "article_list" b.id %}>{{b.name}}</a>
				<span class="pull-right">管理员:{{b.owner.username}}</span>
			  </div>
			  <div class="panel-body">
			    {{b.desc}}
			  </div>
		    </div>
	      </div>
	      {% endfor %}
		</div>
	  </div>
    </div>
  </body>
</html>
